body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #333;
  }
  
  div {
    margin: 20px;
    padding: 10px;
  }
  
  img {
    width: 50px;
    height: 50px;
  }
  
  button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #f0f0f0;
  }
  